name: Build docker image

on:
  push:
    branches:
    - master

    tags:
    - '*'

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  POSTGRES17: '17.7'
  POSTGRES16: '16.11'
  POSTGRES15: '15.15'
  POSTGRES14: '14.20'
  POSTGRES13: '13.23'

jobs:
  postgres-17:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v3
    - uses: ./.github/actions
      with:
        version: ${{ env.POSTGRES17 }}
        tags: 17,latest
        platform: linux/amd64,linux/arm64
  postgres-16:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: amd64,arm64
      - uses: docker/setup-buildx-action@v3
      - uses: ./.github/actions
        with:
          version: ${{ env.POSTGRES16 }}
          tags: 16
          platform: linux/amd64,linux/arm64        
  postgres-15:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v3
    - uses: ./.github/actions
      with:
        version: ${{ env.POSTGRES15 }}
        tags: 15
        platform: linux/amd64,linux/arm64
  postgres-14:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v3
    - uses: ./.github/actions
      with:
        version: ${{ env.POSTGRES14 }}
        tags: 14
        platform: linux/amd64,linux/arm64
  postgres-13:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v3
    - uses: ./.github/actions
      with:
        version: ${{ env.POSTGRES13 }}
        tags: 13
        platform: linux/amd64,linux/arm64
